<div class="filter-container" xmlns="http://www.w3.org/1999/html">
  <div class="form">
    <label class="form__label"> ID:</label>
    <input class="form__input" type="text"
           [formControl]="idControl"
           placeholder="ID separated with comma or space">
  </div>
  <div class="form">
    <label class="form__label"> Subjects:</label>
    <input class="form__input" type="text"
           [formControl]="nameControl"
           placeholder="Subject separated with comma or space">
  </div>
  <div class="form">
    <label class="form__label">State</label>
    <div class="input-state">
      <div class="input-state__checkbox">
        <input type="checkbox" checked
               (change)="onPassed($event)">
        <label>Passed</label>
      </div>
      <div class="input-state__checkbox">
        <input type="checkbox" checked (change)="onFailed($event)">
        <label>Failed</label>
      </div>
    </div>
  </div>
</div>
