<div class="group">
  <div class="group-container">
    <div class="charts"
         *ngFor="let chart of charts; trackBy:trackByFn"
         draggable="true"
         (dragstart)="dragStart($event, chart)"
         (dragover)="dragOver($event)"
         (drop)="drop($event, chart)">
      <div [ngSwitch]="chart.type">
        <app-chart [chartData]=chart></app-chart>
<!--        {{chart | json}}-->
      </div>
    </div>
  </div>
  <button mat-button mat-raised-button draggable="true"
          (dragstart)="dragStart($event, button, true)">{{button.type.toUpperCase()}}
  </button>
</div>
