<mat-card class="form-container">
  <mat-card-title class="detail-title">Details:</mat-card-title>
  <mat-card-content>
    <form [formGroup]="traineeForm">
      <div class="form-field">
        <label>ID:</label>
        <div>
          <input matInput type="text" formControlName="id">
          <mat-error *ngIf="traineeForm.get('id').errors && traineeForm.get('id')
        .touched">ID field is required and must be a number.
          </mat-error>
          <mat-error *ngIf="traineeForm.get('id').hasError('number')">
          </mat-error>
        </div>
      </div>

      <div class="form-field">
        <label>Name:</label>
        <div>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="traineeForm.get('name').errors && traineeForm.get('name')
        .touched">Name field is required
          </mat-error>
        </div>
      </div>


      <div class="form-field">
        <label>Grade:</label>
        <div>
          <input matInput type="text" formControlName="grade">
          <mat-error *ngIf="traineeForm.get('grade').errors && traineeForm.get('grade')
        .touched">Grade field is required
          </mat-error>
        </div>
      </div>


      <div class="form-field">
        <label>Email:</label>
        <div>
          <input matInput type="text" formControlName="email">
          <mat-error *ngIf="traineeForm.get('email').errors && traineeForm.get('email')
        .touched">Name field is required
          </mat-error>
        </div>
      </div>


      <div class="form-field">
        <label>DateJoined:</label>
        <div>
          <input matInput type="text" formControlName="date_joined">
          <mat-error *ngIf="traineeForm.get('date_joined').errors && traineeForm.get('date_joined')
        .touched">Date joined field is required
          </mat-error>
        </div>
      </div>

      <div class="form-field">
        <label>Address:</label>
        <div>
          <input matInput type="text" formControlName="address">
          <mat-error *ngIf="traineeForm.get('address').errors && traineeForm.get('address')
        .touched">Address field is required
          </mat-error>
        </div>
      </div>

      <div class="form-field">
        <label>City:</label>
        <div>
          <input matInput type="text" formControlName="city">
          <mat-error *ngIf="traineeForm.get('city').errors && traineeForm.get('city')
        .touched">City field is required
          </mat-error>
        </div>
      </div>

      <div class="form-field">
        <label> Country:</label>
        <div>
          <input matInput type="text" formControlName="country">
          <mat-error *ngIf="traineeForm.get('country').errors && traineeForm.get('country')
        .touched">Country field is required
          </mat-error>
        </div>
      </div>

      <div class="form-field">
        <label>ZIP:</label>
        <div>
          <input matInput type="text" formControlName="zip">
          <mat-error *ngIf="traineeForm.get('zip').errors && traineeForm.get('zip')
        .touched">ZIP field is required
          </mat-error>
        </div>
      </div>

      <div class="form-field">
        <label>Subject:</label>
        <div>
          <input matInput type="text" formControlName="subject">
          <mat-error *ngIf="traineeForm.get('subject').errors && traineeForm.get('subject')
        .touched">Subject field is required
          </mat-error>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
