<!-- app.component.html -->
<div class="parent-container" cdkDropListGroup>
  <div class="upper-container">
    <div *ngFor="let chart of charts.slice(0, 2); let i = index" class="chart" cdkDropList
         [cdkDropListData]="i" (cdkDropListDropped)="drop($event)">
      <div cdkDrag> Chart {{ i + 1 }}</div>
    </div>
  </div>

  <div class="lower-container">
    <div class="chart" cdkDropList [cdkDropListData]="2" (cdkDropListDropped)="drop($event)">
      <div cdkDrag> Chart 3 </div>
    </div>
  </div>
</div>
