/* app.component.css */
.parent-container {
  display: flex;
  flex-direction: column;
}

.upper-container, .lower-container {
  display: flex;
}

.chart {
  flex-grow: 1;
  border: 1px solid black;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.upper-container {
  height: calc(100vh - 50px); /* Full height minus the height of the third chart */
}

.lower-container {
  height: 50px;
}
