.group-container {
  display: flex;
  gap: 20px;


}
button{
  width: 100%;
}

.charts {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

[draggable] {
  cursor: move;
}

[draggable]:active {
  opacity: 0.5;
}

