<div class="group">
  <div class="group-container">
    <div class="charts"
         *ngFor="let chart of charts; trackBy:trackByFn"
         draggable="true"
         (dragstart)="dragStart($event, chart)"
         (dragover)="dragOver($event)"
         (drop)="drop($event, chart)">
      <div [ngSwitch]="chart.type">
        <p>{{ chart.data }}</p>
      </div>
    </div>
  </div>
  <button draggable="true"
          (dragstart)="dragStart($event, button)">
    <div style="width: 100%; height: 100%;">
      Drag me
    </div>
  </button>
</div>
